@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Shantell+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(68,68,68);
}

#mobileMenuTrigger {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#mobileMenuTrigger div {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    border-radius: 5px;
}

.nav-logo-container {
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.nav-links {
    text-align: center;
    font-size: 1.2rem;
    font-family:'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px 40px;
}

.nav-links li {
    border-bottom: 1px solid rgba(73, 80, 160, 0.123);
    padding: 10px 0px 40px;
}