@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Shantell+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 1000px;
}
body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(68,68,68);
}

#navbar {
    box-shadow: 2px 2px 8px -6px #101a67;
}

#mobileMenuTrigger {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#mobileMenuTrigger div {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.nav-logo-container {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.nav-links {
    text-align: center;
    font-size: 1.2rem;
    font-family:'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px 40px;
}

.nav-links li {
    border-bottom: 1px solid rgba(73, 80, 160, 0.123);
    padding: 10px 0px 40px;
}

.nav-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.8rem;
    padding-bottom: 35px;
}
.nav-links-container {
    /* border: solid; */
    max-height: 0px;
    /* visibility: hidden; */
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
}

.active {
    /* visibility: visible; */
    max-height: 2000px;
}

.active .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.active .line2 {
    opacity: 0;
}

.active .line3 {
    transform: rotate(45deg) translate(-5.2px, -4px);
}

@media screen and (min-width: 768px) {
    .nav-logo-container {
        justify-content: center;
    }
    #mobileMenuTrigger {
        display: none;
    }
    .nav-links-container{
        max-height: none;
    }
    .nav-links {
        flex-direction: row;
        justify-content: center;
        margin: 18px 0px 20px;
    }
    .nav-links li {
        border: none;
        padding: 0;
    }
    .nav-socials {
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 1025px) {
    
}
